<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE hibernate-configuration PUBLIC
          "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
          "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
   <session-factory>
      <property name="hibernate.show_sql">true</property>
         <property name="hibernate.format_sql">true</property>
         <property name="hibernate.hbm2ddl.auto">update</property>
         <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    
         <mapping  resource="cn/ssh/entity/Student.hbm.xml"/>
         <mapping  resource="cn/ssh/entity/Master.hbm.xml"/>
         <mapping  resource="cn/ssh/entity/Admin.hbm.xml"/>
         <mapping  resource="cn/ssh/entity/FellowShip.hbm.xml"/>
         <mapping  resource="cn/ssh/entity/Love.hbm.xml"/>
         <mapping  resource="cn/ssh/entity/IllegalWord.hbm.xml"/>
         <mapping  resource="cn/ssh/entity/Article.hbm.xml"/>
         <mapping  resource="cn/ssh/entity/MasterScore.hbm.xml"/>
         <mapping  resource="cn/ssh/entity/ClassMission.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
